body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #fafafa;
  justify-content: center;
  align-items: center;
  font-family: 'Neue Haas Grotesk Text Pro 65 Medium';
}

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro 65 Medium';
  src: url('../fonts/neue-haas-grotesk-text-pro-65-medium.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Display Bold';
  src: url('../fonts/NeueHaasDisplayBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.card {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.face {
  width: 300px;
  height: 200px;
  transition: .4s;
}

.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: -1;
  transform: translateY(100px);
}

.card:hover .face.face1 {
  transform: translateY(0);
  cursor: pointer;
}

.face.face1 .content {
  opacity: .5;
  transition: 0.5s;
  text-align: center;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.face.face1 .content i {
  font-size: 3em;
  color: #050505;
  display: inline-block;
}

.face.face1 .content h3 {
  font-size: 1em;
  color: #050505;
  text-align: center;
}

.face.face1 .content a {
  transition: .5s;
}

.face.face2 {
  position: relative;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transform: translateY(-100px);
}

.card:hover .face.face2 {
  transform: translateY(0);
}

.lard:hover .face {
  transform: translateY(0);
}

.dark:hover .face {
  transform: translateY(0);
}

a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #050505;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

a:hover {
  background: #000000;
  color: #333333;
}

.text-true {
  font-family: 'Neue Haas Display Bold';
  font-size: 24px;
  color: #050505;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
}

.text-false {
  display: none;
}

.flooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #333333;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.flooter:hover {
  font-family: 'Neue Haas Display Bold';
  color: #050505;
}
